*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --neutralColor: blue;
    --wrongColor: red;
    --correctColor: green;
}

body {
    background: var(--neutralColor);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
   background: var(--correctColor);
}

body.wrong {
    background: var(--wrongColor);
 }

 .container {
     width: 800px;
     max-width: 80%;
     background-color: white;
     border-radius: 5px;
     padding: 10px;
     box-shadow: 0 0 10px 2px;
 }

 .btn-grid {
     display: grid;
     grid-template-columns: repeat(2, auto);
     gap: 10px;
     margin: 20px 0;   
 }

 .btn {
     background: var(--neutralColor); 
     border-radius: 5px;
     padding: 5px 10px;
     color: black;
     outline: none;
 }

 .btn:hover {
     border-color: black;
 }

 .btn.correct {
     background: var(--correctColor);
     color: black;
 }

 .btn.wrong {
     background: var(--wrongColor);
 }

 .start-btn, .next-btn {
     font-size: 1.5rem;
     font-weight: bold;
     padding: 10px 20px;
 }

 .controls {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .hide {
     display: none;
 }